body{margin-top:20px;}

.error-page {
    text-align: center;
	background: #fff;
	padding-bottom: 50px;
	border-top: 1px solid #eee;
	border-radius: 10px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}
.error-page .error-inner {
	display: inline-block;
}
.error-page .error-inner h1 {
	font-size: 140px;
	text-shadow: 3px 5px 2px #3333;
	color: #006DFE;
	font-weight: 700;
}
.error-page .error-inner h1 span {
	display: block;
	font-size: 25px;
	color: #333;
	font-weight: 600;
	text-shadow: none;
}

@media (max-width: 820px) {
	.error-page .error-inner h1 {
		font-size: 80px;
	}

	.error-page .error-inner h1 span {
		font-size: 20px;
	}
}

@media (max-width: 500px) {
	.error-page .error-inner h1 {
		font-size: 40px;
	}

	.error-page .error-inner h1 span {
		font-size: 15px;
	}
}
