.schedule-day {
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-bottom: 3px;
}

.schedule-day-hover:hover {
    padding-left: 5px;
    padding-right: 5px;
    background-color: #ddd;
    border-radius: 5px;
    /* cursor: pointer; */
    font-weight: bold;
}

.holiday-reason {
    color: #ff0000;
    /* background-color: #f89999; */
    /* background-color: #f9d470; */
    border-radius: 5px;
    margin: 1px;
    padding-left: 3px;
}

.rest-reason {
    color: black;
    background-color: #fad5d5;
    /* background-color: #acaafe; */
    border-radius: 5px;
    margin: 2px;
    padding-left: 3px;
}

.schedule-content:hover{
    /* padding: 5px; */
    /* cursor: pointer; */
}

.back-icon:hover {
    background-color: #ddd;
    border-radius: 5px;
}

.detail-rest-item:hover {
    background-color: #eee;
    border-radius: 5px;
}

.detail-daily-job:hover {
    background-color: #eee;
    border-radius: 5px;
}