.announcement-slider {
    position: relative;
    display : flex;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    max-width: 500px;
    padding: 16px;
    background-color: transparent;
    height: 60px;
    overflow: hidden;
}


/* 1200px 이하부터 사라짐 */
@media (max-width : 1200px) {
    .announcement-slider {
        display: none;
 }   
}


.slides-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;  /* 부모 요소에서 넘치지 않도록 설정 */
}

.slide {
    width: 100%;
    text-align: left;
    color: white;
}

.slide span {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 500px;  /* 텍스트 길이를 제한 */
}

#notice-row:hover{
    font-weight: bold;
    text-decoration: underline;
}