.time-input {
    border: 1px solid #ccc;
    width: 30px;
    height: 28px;
    border-radius: 5px;
    text-align: center;
}

.time-input:hover {
    background: #e9ecef;
    border-color: #bbb;
    border-color: #007bff;
}

.time-input:active {
    background: #dae0e5;
    border-color: #aaa;
}